//== Scaffolding
@body-bg: @color-fondo;
@text-color:darken(@color-cabecera,15%);


//== Typography
@font-family-sans-serif:  @fuente, "Helvetica Neue", Helvetica, Arial, sans-serif;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @color-cabecera;
@navbar-inverse-bg:                         @color-menu;

// Inverted navbar links
@navbar-inverse-link-color:                 @color-cabecera;
@navbar-inverse-link-hover-color:           @color-cabecera;
@navbar-inverse-link-hover-bg:              darken(@navbar-inverse-bg, 7%);
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 7%);

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          @color-cabecera;
@navbar-inverse-brand-hover-bg:             darken(@navbar-inverse-bg, 7%);


//== Dropdowns
@dropdown-bg:                    @color-menu;
@dropdown-link-color:            @color-cabecera;
@dropdown-link-hover-color:      @color-cabecera;
@dropdown-link-hover-bg:         darken(@color-menu, 5%);


//== Tables
@table-cell-padding:            5px;
@table-bg:                      darken(@color-fondo,5%);
@table-bg-hover:                @color-fondo;
@table-border-color:            @color-cabecera;


//== Forms
@input-border:                   @color-cabecera;
@input-border-radius:            @border-radius-large;
@input-border-focus:             darken(@color-cabecera,50%);
@input-color-placeholder:        @color-cabecera;


//== Buttons
@btn-font-weight:                normal;
@btn-primary-color:              #fff;
@btn-primary-bg:                 @color-menu;


//== Carousel
@carousel-control-width:                      25%;
@carousel-control-opacity:                    0;
@carousel-indicator-active-bg:                lighten(@color-menu,60%);
@carousel-indicator-border-color:             lighten(@color-menu,60%);
@carousel-caption-color:                      lighten(@color-menu,60%);


//== Type
@page-header-border-color:    @color-cabecera;